<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CardDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A63021B1EAA7FB1001C23B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A6302321EAA7FB1001C23B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A63023D1EAA7FB2001C23B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
